<!-- jQuery first, then Bootstrap JS. -->
<script src="{{root}}js/vendors/jquery.min.js"></script>
<script src="{{root}}js/vendors/tether.min.js"></script>
<script src="{{root}}js/vendors/bootstrap.min.js"></script>
<script src="{{ root }}js/app.js"></script>